@layer base {
  *,
  html,
  body {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    background-color: $bg-color;
  }

  .views-container {
    max-width: 100vw;
  }

  .main-container {
    width: 100%;
    padding: 0 2rem;
    margin: 3rem auto;
    text-align: center;

    @include tablet {
      width: 85%;
    }
  }

  h1 {
    margin: 2rem 0;
    font-size: 2rem;
    color: $primary-color-light;

    @include tablet {
      font-size: 3.5rem;
    }
  }

  h2 {
    margin: 1rem 0;
    font-size: 1.6rem;
    @include tablet {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.4rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5;
  }
}
