@layer layout {

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem 6rem;
    justify-content: center;
    container-type: inline-size;
    container-name: cards;

    .card {
      flex: 1 1 100%;
      max-width: 380px;

      .card__image {
        margin: 0;

        figcaption {
          padding: 0.5rem 1rem;
          font-size: 0.75rem;
          color: #666;
          background-color: #f0f0f0;
        }
      }

      .card__subtitle {
        color: $secondary-color-dark;
      }
    }

    @container cards (min-width: 600px) {

      .card {
        flex: 1 1 calc(50% - 1rem);
      }
    }

    @container cards (min-width: 900px) {

      .card {
        flex: 1 1 calc(33.333% - 1rem);
      }
    }
  }
}
