@use "sass:color";

.contact-page {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  min-height: 100svh;
  padding: 5svh 5lvw;
  overflow: hidden;
  container-type: inline-size;

  .background-image {
    display: none;
  }

  @container (min-width: 600px) {
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: z(background);
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 36px;
      opacity: 0.7;
    }
  }

  .overlay {
    position: relative;
    z-index: z(overlay);
    width: 100%;
    max-width: 600px;
    padding: 4cqh 4cqw;
    background-color: color.adjust($bg-color, $alpha: -0.25);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
  }

  p {
    margin-bottom: 4cqh;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2cqh;

    .form__label {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      font-weight: bold;

      .form__input {
        width: 100%;
        padding: 0.8rem;
        margin-top: 0.5rem;
        font-size: 1rem;
        border: 2px solid #ccc;
        border-radius: 0.5rem;
      }

      .form__input:is(:focus, :hover) {
        outline: none;
        border-color: $secondary-color-dark;
      }
    }

    .form__button {
      padding: 1rem;
      font-size: 1rem;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 0.5rem;
      transition: background-color 0.3s;

      &:is(:hover, :focus) {
        background-color: color.adjust($primary-color-dark, $lightness: 20%);
      }
    }
  }

  .extra-info {
    margin-top: 4cqh;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
  }

  .accordion-button:not(.collapsed) {
    font-weight: bold;

    &::after {
      filter: brightness(0) invert(1);
    }
  }

  @include big-desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}
