<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"><!-- do not remove this line! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>UOC Boilerplate</title>
  </head>
  <body>
    <include src="./views/header.html"></include>

    <div class="main-container">
        <h1>Ponentes</h1>
        <div class="cards-container">
            <div class="card">
                <figure class="card__image">
                    <a href="../assets/images/img-artista-1.jpg" data-lightbox="galeria" data-title="Iris Saavedra, Investigadora en Economía Ambiental - Universidad de Zaragoza">
                        <img src="../assets/images/img-artista-1.jpg" alt="Imagen de Irene Saavedra" class="card-img-top" />
                    </a>
    
                    <figcaption>
                        Foto de <a href="https://unsplash.com/es/@heftiba?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Toa Heftiba</a> en 
                        <a href="https://unsplash.com/es/fotos/mujer-de-pie-cerca-de-la-puerta-de-acero-azul-O3ymvT7Wf9U?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Iris Saavedra</h2>
                    <p class="card__subtitle title--bold">Investigadora en Economía Ambiental - Universidad de Zaragoza</p>
                    <p class="card-text">
                        Iris lleva más de 15 años investigando modelos de producción sostenibles y es una de las voces más reconocidas en políticas de economía circular en el ámbito académico. 
                        Es autora del informe “Redefiniendo el residuo”.
                    </p>
                </div>
            </div>
            <div class="card">
                <figure class="card__image">
                    <a href="../assets/images/img-artista-2.jpg" data-lightbox="galeria" data-title="Ricard Esteve, Divulgador científico y creador del canal “Circularmente”">
                        <img src="../assets/images/img-artista-2.jpg" alt="Imagen de Ricard Esteve" class="card-img-top" />
                    </a>
                    <figcaption>
                        Foto de <a href="https://unsplash.com/es/@sadswim?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">ian dooley</a> en 
                        <a href="https://unsplash.com/es/fotos/hombre-de-pie-cerca-de-la-pared-blanca-d1UPkiFd04A?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Ricard Esteve</h2>
                    <p class="card__subtitle title--bold">Divulgador científico y creador del canal “Circularmente”</p>
                    <p class="card-text">
                        Con un enfoque cercano y educativo, Ricard enseña a través de redes sociales qué es la economía circular y cómo podemos aplicarla en nuestro día a día. Su intervención 
                        será participativa y pensada para público general.
                    </p>
                </div>
            </div>
            <div class="card">
                <figure class="card__image">
                    <a href="../assets/images/img-artista-3.jpg" data-lightbox="galeria" data-title="Laura Esquivel, Responsable de Medio Ambiente en el Ayuntamiento de Sabadell">
                        <img src="../assets/images/img-artista-3.jpg" alt="Un gato con sus dos ojos de diferente color" class="card-img-top" />
                    </a>
                    <figcaption>
                        Foto de <a href="https://unsplash.com/es/@michaeldam?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Michael Dam</a> en 
                        <a href="https://unsplash.com/es/fotos/closeup-photography-of-woman-smiling-mEZ3PoFGs_k?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Laura Esquivel</h2>
                    <p class="card__subtitle title--bold">Responsable de Medio Ambiente en el Ayuntamiento de Sabadell</p>
                    <p class="card-text">
                        Laura compartirá las estrategias municipales actuales para fomentar la economía circular en el ámbito urbano: compostaje comunitario, 
                        puntos verdes inteligentes y compra pública verde.
                    </p>
                </div>
            </div>
            <div class="card">
                <figure class="card__image">
                    <a href="../assets/images/img-artista-4.jpg" data-lightbox="galeria" data-title="Andrés Navarro, Cofundador de ReVive, taller de reparación y reutilización tecnológica">
                        <img src="../assets/images/img-artista-4.jpg" alt="Un gato con sus dos ojos de diferente color" class="card-img-top" />
                    </a>
                    <figcaption>
                        Foto de <a href="https://unsplash.com/es/@miracletwentyone?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Joseph Gonzalez</a> en 
                        <a href="https://unsplash.com/es/fotos/hombre-con-camisa-blanca-con-cuello-en-v-iFgRcqHznqg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Andrés Navarro</h2>
                    <p class="card__subtitle title--bold">Cofundador de ReVive, taller de reparación y reutilización tecnológica</p>
                    <p class="card-text">
                        Andrés lidera una startup que repara y reacondiciona dispositivos electrónicos para combatir la obsolescencia programada. Su charla se centra en la 
                        “segunda vida” de los objetos tecnológicos.
                    </p>
                </div>
            </div>
            <div class="card">
                <figure class="card__image">
                    <a href="../assets/images/img-artista-5.jpg" data-lightbox="galeria" data-title="Irene Costa, Consultora de sostenibilidad para empresas locales">
                        <img src="../assets/images/img-artista-5.jpg" alt="Un gato con sus dos ojos de diferente color" class="card-img-top" />
                    </a>
                    <figcaption>
                        Foto de <a href="https://unsplash.com/es/@slavromanov?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Slav Romanov</a> en 
                        <a href="https://unsplash.com/es/fotos/mujer-sonriente-sentada-en-la-hierba-durante-el-dia-BrEAp01_m5w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Irene Costa</h2>
                    <p class="card__subtitle title--bold">Consultora de sostenibilidad para empresas locales</p>
                    <p class="card-text">
                        Irene asesora a pymes en la implementación de procesos de producción sostenibles. Explicará cómo pequeñas empresas pueden adoptar principios de economía circular 
                        sin perder competitividad.
                    </p>
                </div>
            </div>
            <div class="card">
                <figure class="card__image">
                    <a href="../assets/images/img-artista-6.jpg" data-lightbox="galeria" data-title="Malik Ben Youssef, Diseñador textil y activista del movimiento slow fashion">
                        <img src="../assets/images/img-artista-6.jpg" alt="Un gato con sus dos ojos de diferente color" class="card-img-top"/>
                    </a>
                    <figcaption>
                        Foto de <a href="https://unsplash.com/es/@juricakoletic?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jurica Koletić</a> en <a href="https://unsplash.com/es/fotos/hombre-que-lleva-el-retrato-superior-de-henley-7YVZYZeITc8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Malik Ben Youssef</h2>
                    <p class="card__subtitle title--bold">Diseñador textil y activista del movimiento slow fashion</p>
                    <p class="card-text">
                        Fundador de Hilo Ético, una marca de ropa hecha a partir de tejidos reciclados. Hablará sobre el impacto de la moda rápida y 
                        alternativas reales desde la producción local y consciente.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <include src="./views/footer.html"></include>
    <script type="module" src="../assets/scripts/main.js"></script><!-- do not remove this line! -->
  </body>
</html>