<footer class="footer">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand m-0" href="#home">
        ReVive Talks
      </a>
      <!-- Menú de navegación -->
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#artists">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#artists">Ponentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#article">Artículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
      </ul>
      <div class="social-links d-flex gap-3 justify-content-center mt-3">
        <a href="https://www.google.com" target="_blank" aria-label="Google">
          <i class="fab fa-google fa-lg"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </div>
    </div>
  </nav>
  &copy; Universitat Oberta de Catalunya
</footer>
