<div class="home-page">
    <div class="home-page_content">
      <h1 class="title">ReVive Talks</h1>
      <div class="comentarios">
        <div class="comentario comentario-1">
            <p>"¡Una experiencia transformadora! Definitivamente volveré el próximo año."</p>
            <span class="nombre">Carlos M.</span>
          </div>
          <div class="comentario comentario-2">
            <p>
                "Increíble ver tantas ideas brillantes reunidas en un mismo lugar y tantas personas con una pasión genuina por compartir, 
                colaborar y construir algo en común. Fue inspirador escuchar cada historia, cada propuesta, y sentir que todos estábamos conectados por el mismo entusiasmo."
            </p>
            <span class="comentario_nombre">Lucía P.</span>
          </div>
          <div class="comentario comentario-3">
            <p>"¡Recomiendo totalmente las charlas! Aprendí mucho y me sentí muy inspirado."</p>
            <span class="comentario_nombre">Juan T.</span>
          </div>
          <div class="comentario comentario-4">
            <p>
                "Me encantó la organización, todo estaba muy bien pensado y cuidado hasta el último detalle. El ambiente fue acogedor, 
                las actividades interesantes y el trato del equipo excelente. Sin duda volveré el próximo año con más ganas que nunca."
            </p>
            <span class="comentario_nombre">Ana L.</span>
          </div>
          <div class="comentario comentario-5">
            <p>"Excelente evento, me abrió los ojos a nuevas posibilidades."</p>
            <span class="comentario_nombre">Miguel G.</span>
          </div>
          <div class="comentario comentario-6">
            <p>"Lo mejor de este evento fue la calidad de los ponentes y el ambiente tan enriquecedor."</p>
            <span class="comentario_nombre">Sofía A.</span>
          </div>
          <div class="comentario comentario-7">
            <p>"¡La mejor charla que he visto! Aprendí mucho y conocí personas geniales."</p>
            <span class="comentario_nombre">Carlos F.</span>
          </div>
      </div>
      <blockquote class="cita">“El cambio comienza con una idea.”</blockquote>
      <a href="#article" class="button">Descubre el programa</a>
    </div>
    <img class="home-page_image" src="../assets/images/img-poster.jpg" alt="Imagen de fondo para las charlas">
</div>
  