<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"><!-- do not remove this line! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>UOC Boilerplate</title>
  </head>
  <body>
    <include src="./views/header.html"></include>

    <div class="home-page">
      <div class="content">
        <h1 class="content__title">ReVive Talks</h1>
        <div class="content__comentarios">
          <div class="comentario comentario-1">
              <p>"¡Una experiencia transformadora! Definitivamente volveré el próximo año."</p>
              <span class="comentario__nombre">Carlos M.</span>
            </div>
            <div class="comentario comentario-2">
              <p>
                  "Increíble ver tantas ideas brillantes reunidas en un mismo lugar y tantas personas con una pasión genuina por compartir, 
                  colaborar y construir algo en común. Fue inspirador escuchar cada historia, cada propuesta, y sentir que todos estábamos conectados por el mismo entusiasmo."
              </p>
              <span class="comentario__nombre">Lucía P.</span>
            </div>
            <div class="comentario comentario-3">
              <p>"¡Recomiendo totalmente las charlas! Aprendí mucho y me sentí muy inspirado."</p>
              <span class="comentario__nombre">Juan T.</span>
            </div>
            <div class="comentario comentario-4">
              <p>
                  "Me encantó la organización, todo estaba muy bien pensado y cuidado hasta el último detalle. El ambiente fue acogedor, 
                  las actividades interesantes y el trato del equipo excelente. Sin duda volveré el próximo año con más ganas que nunca."
              </p>
              <span class="comentario__nombre">Ana L.</span>
            </div>
            <div class="comentario comentario-5">
              <p>"Excelente evento, me abrió los ojos a nuevas posibilidades."</p>
              <span class="comentario__nombre">Miguel G.</span>
            </div>
            <div class="comentario comentario-6">
              <p>"Lo mejor de este evento fue la calidad de los ponentes y el ambiente tan enriquecedor."</p>
              <span class="comentario__nombre">Sofía A.</span>
            </div>
            <div class="comentario comentario-7">
              <p>"¡La mejor charla que he visto! Aprendí mucho y conocí personas geniales."</p>
              <span class="comentario__nombre">Carlos F.</span>
            </div>
        </div>
        <blockquote class="cita">“El cambio comienza con una idea.”</blockquote>
        <a href="#article" class="button">Descubre el programa</a>
      </div>
      <img class="bg-image" src="../assets/images/img-poster.jpg" alt="Imagen de fondo para las charlas">
    </div>

    <include src="./views/footer.html"></include>
    <script type="module" src="../assets/scripts/main.js"></script><!-- do not remove this line! -->
  </body>
</html>
