@use "sass:color";


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$primary-color-light: #6a994e;
$primary-color-dark: #2a5031;
$secondary-color: #fff3db;
$bg-color: #FAFAFA;
$text-color: #333333;
$call-to-action-color: #F4A261;

$mqMinWidth: 769px;

// Customizando variables de Bootstrap
$theme-colors: (
 "primary": $primary-color-dark,
 "danger": $call-to-action-color
);

$nav-pills-link-active-bg: $primary-color-dark;
$nav-link-color: $primary-color-dark;

$accordion-button-bg: $bg-color;
$accordion-button-active-color: $bg-color;
$accordion-button-active-bg: mix($secondary-color, #d4a373, 50%);

// Cambiar el color del borde del acordeón
$accordion-border-color: #cccccc;

// Focus (quitar el focus)
$accordion-button-focus-border-color: transparent;
$accordion-button-focus-box-shadow: none;

